{% extends 'base.html' %}
<html>
<body>
{% block body %}
    <div class="container">
      <h3>Sorry, that password won't work. Would you mind trying again? </h3>
      <br>
    </div>


    <div class="container">
      <form class="form-signin" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Buhhtin">Change</button>
      </form>
    </div>

     <div class="container">
      <footer class="footer">
        <p> &copy;   2017 Nouns.</p>
      </footer>
    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
</body>
</html>