{% extends 'base.html' %}
<html>
<body>
{% block body %}
    <div class="container">

      <div class="jumbotron">
        <h1>Welcome to Rerate!</h1>
        <p class="lead">This is the landing page that users will see when they aren't logged in.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
  

      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                  <h3>First Sample Item</h3>
                  <p>This will be an example of what an "item" on rerate is.</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>

              <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                  <h3>Third Sample Item</h3>
                  <p>An item could be a song, and instagram selfie, a car, movie, etc.</p>
                  <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
              </div>
             </div>


            <div class="col-xs-6">

                <div class="thumbnail">
                  <img src="..." alt="...">
                  <div class="caption">
                    <h3>Second Sample Item</h3>
                    <p>An item could be a song, and instagram selfie, a car, movie, etc.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>

                <div class="thumbnail">
                  <img src="..." alt="...">
                  <div class="caption">
                    <h3>Fourth Sample Item</h3>
                    <p>An item could be a song, and instagram selfie, a car, movie, etc.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>


              </div>
          </div>
        </div>


        </div>
      </div>

      <footer class="footer">
        <p> &copy;   2017 Nouns.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
</body>
</html>