{% extends 'base.html' %}
{% load staticfiles %}
<html>
<body>
{% block body %}
    <div class="container">
      <h2>Nouns for {{ user }}.</h2>
      <h5><a href='/create/'>ADD NEW NOUN</a> to this page.</h5>
      <br>
      <h5> {{ user.userprofile.description }} | {{ user.email }} </h5>
      <br>
    </div>
    <yomama>
    <main>
		{% for noun in nouns reversed %}
		{% if noun.create_for == user %}
		<a href="{% url 'main:nounpage' noun.id %}" title="{{ noun.name }}">
			<article>
				<h3>{{ noun.name }}</h3>
				<h5>{{ noun.item_type }}</h5>
				<p>{{ noun.description }} &nbsp;</p>
				<figure>
					<img src="{{ noun.image_url }}" alt="https://placehold.it/480x360" >

					<figcaption>~ {{ noun.created_by }}</figcaption>
				</figure>
				{% if noun.rating != None %}

                {% if noun.rating_guess >= 7 %}
                <span class="label label-success">{{ noun.rating_guess }}</span> Guess
                {% else %}
                <span class="label label-danger">{{ noun.rating_guess }}</span> Guess
                {% endif %}

                &nbsp; <span class="label label-primary">{{ noun.rating }}</span> Actual
                {% if noun.rating == noun.rating_guess %}
                <img src={% static 'ionicons/png/512/ribbon-a.png' %} width="20" height="auto" />
                {% endif %}
                {% else %}
                <span class="label label-warning">New</span> Click to rate

                {% endif %}
			</article>
		</a>
		{% endif %}
        {% endfor %}

	</main>
	</yomama>

    <div class="container">


      <footer class="footer">
        <p> &copy;   2017 Nouns.</p>
      </footer>

    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
</body>
</html>