{% extends 'base.html' %}
{% load staticfiles %}

<html>

<body>
{% block body %}
    <div class="container">
      <h3>Hey, {{ user.first_name }}. This is your nouns page.</h3>
      <h6>Click <a href="/userhome/user_edit">HERE</a> to edit your account info.</h6>
      <br>
      <h5> {{ user.userprofile.description }} | {{ user.email }} </h5>
      <br>
      <h4>Rapport: <span class="label label-success">{{user.rapport.rapport_score}}</span>   <img src={% static 'ionicons/png/512/ribbon-a.png' %} width="20" height="auto" /> : {{user.rapport.medals}}</h4>


      <br>
    </div>
    <div class="container">
      <!--<div class="row">-->

        <!-- The for loop below produces each "noun" content item -->

        {% for noun in nouns reversed %}

        {% if noun.create_for == user %}
        <div class="col-xs-6">
        <div class="thumbnail">
          <a href="{% url 'main:nounpage' noun.id %}"><img src="{{ noun.image_url }}" alt="{{ noun.name }}" ></a>
          <div class="caption">
            <h3>{{ noun.name }}</h3>
            <h5>{{ noun.item_type }}</h5>
            <p>{{ noun.description }}</p>

            <!-- The form below produces the "Rating score" field -->

            <!--<form class="form-inline" method="post">-->
            <!--{% csrf_token %}-->
            <!--{{form.as_p}}-->
            <!--<button type="submit" class="btn btn-primary">Rate</button>-->
            <!--</form>-->
            {% if noun.rating != None %}

            {% if noun.rating_guess >= 7 %}
            <span class="label label-success">{{ noun.rating_guess }}</span> Guess
            {% else %}
            <span class="label label-danger">{{ noun.rating_guess }}</span> Guess
            {% endif %}

            <span class="label label-primary">{{ noun.rating }}</span> Actual
            {% if noun.rating == noun.rating_guess %}
            <img src={% static 'ionicons/png/512/ribbon-a.png' %} width="20" height="auto" />
            {% endif %}
            {% else %}
            <span class="label label-warning">New</span> Click to rate

            {% endif %}
            <h6>~ {{ noun.created_by }}</h6>
          </div>
        </div>
        </div>
        {% endif %}

        {% endfor %}
      <!--</div>-->
    </div>

    <main>
		<a href="#" title="Post 1">
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate itaque consequatur illo quis, delectus, incidunt labore.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-1">
					<figcaption>Post 1</figcaption>
				</figure>
			</article>
		</a>

		<a href="#" title="Post 2">
			<article>
				<p>Tempore quas recusandae sint molestias illo laudantium temporibus possimus autem voluptatibus nemo, ratione impedit, amet eos!</p>
				<figure>
					<img src="https://placehold.it/480x340" alt="image-2">
					<figcaption>Post 2</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 3">
			<article>
				<p>Dolor necessitatibus at pariatur, beatae officiis non, consectetur quae recusandae sunt impedit alias voluptate voluptas amet.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-3">
					<figcaption>Post 3</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 4">
			<article>
				<p>Voluptates voluptatibus veniam veritatis quia sequi ipsa itaque autem fugiat saepe sed, dignissimos, iusto cupiditate omnis.</p>
				<figure>
					<img src="https://placehold.it/480x320" alt="image-4">
					<figcaption>Post 4</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 5">
			<article>
				<p>Illo vitae temporibus ut nostrum ducimus maxime, fugit asperiores fugiat, optio quidem, repellat distinctio non saepe.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-5">
					<figcaption>Post 5</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 6">
			<article>
				<p>Earum, modi nisi, quia, ipsam non commodi, minus mollitia amet explicabo molestiae fuga labore illum excepturi!</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-6">
					<figcaption>Post 6</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 7">
			<article>
				<p>Dolorum vel tempora, cum fugit, repellat quisquam distinctio quibusdam, aliquam sunt alias fugiat error, numquam saepe.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-7">
					<figcaption>Post 7</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 8">
			<article>
				<p>Labore recusandae, odio fugit. Ipsa ipsam veritatis et autem ab nesciunt voluptatibus, ducimus in natus accusamus!</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-8">
					<figcaption>Post 8</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 9">
			<article>
				<p>Quis dolorum, repellat quibusdam, at debitis asperiores mollitia sunt placeat iure eveniet fugiat voluptatum nesciunt sed.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-9">
					<figcaption>Post 9</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 10">
			<article>
				<p>Accusantium labore, quibusdam deleniti aliquam ducimus saepe nulla ipsa quisquam expedita distinctio tempora. Consectetur, repellendus, accusantium.</p>
				<figure>
					<img src="https://placehold.it/480x360" alt="image-10">
					<figcaption>Post 10</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 11">
			<article>
				<p>Aut vero assumenda architecto, autem id atque fuga placeat corporis, iure officia eligendi earum blanditiis nihil!</p>
				<figure>
					<img src="https://placehold.it/480x460" alt="image-11">
					<figcaption>Post 11</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 12">
			<article>
				<p>Commodi sint expedita, deserunt ipsum vitae tempore adipisci tenetur debitis architecto, repellat, quia cum error cupiditate!</p>
				<figure>
					<img src="https://placehold.it/480x340" alt="image-12">
					<figcaption>Post 12</figcaption>
				</figure>
			</article>
		</a>
		<a href="#" title="Post 13">
			<article>
				<p>Culpa nihil aspernatur dolor deserunt accusantium id facilis libero in magnam neque. At explicabo voluptas eius?</p>
				<figure>
					<img src="https://placehold.it/480x380" alt="image-13">
					<figcaption>Post 13</figcaption>
				</figure>
			</article>
		</a>
	</main>























    <div class="container">
      <footer class="footer">
        <p> &copy;   2017 Nouns.</p>
      </footer>
    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
</body>
</html>